a {
    color: #112D4E;
}

body,
.navbar {
    background-color: #F9F7F7;
    color: #112D4E;
}

.jumbotron {
    background-image: url('../imgs/bg.jpg');
    background-size: cover;
    color: #F9F7F7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    height: 700px;
}

.section {
    transition: opacity 1s;
    padding: 20px 0;
}

.section:nth-child(odd) {
    background-color: #F9F7F7;
}

.section:nth-child(even) {
    background-color: #F9F7F7;
}

.footer {
    background-color: #112D4E;
    color: #112D4E;
    text-align: center;
}

.quote {
    color: #F9F7F7;
    text-shadow: 0 0 10px #112D4E;
    position: absolute;
    bottom: 30px;
    width: 35%;
    left: 60%;
    text-align: left;
}

h3 {
    color: #3F72AF;
}

#profile-img {
    width: 15%;
    margin-left: -15%;
    box-shadow: 0px 0px 5px 0px #000;
}

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #F3AA60;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation:
        typing 3.5s steps(50, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}