body {
    background-color: #F9F7F7;
    color: #112D4E;
}

h4 {
    color: #3F72AF;
}

.jumbotron {
    background-image: url('../imgs/bg.jpg');
    background-size: cover;
    color: #F9F7F7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    height: 700px;
}

.section {
    transition: opacity 1s;
    padding: 20px 0;
}

.section:nth-child(odd) {
    background-color: #F9F7F7;
}

.section:nth-child(even) {
    background-color: #F9F7F7;
}

.project-img {
    width: 1200px;
    padding: 0 0 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-description {
    transition: opacity 1s;
    padding: 20px 0;
}

.footer {
    background-color: #F9F7F7;
    color: #112D4E;
}

#profile-img {
    width: 15%;
    margin-left: -1%;
}

#email-link {
    color: #112D4E;
}

#quote {
    color: #F9F7F7;
    text-shadow: 0 0 10px #112D4E;
    position: absolute;
    bottom: 30px;
    width: 30%;
    left: 60%;
    text-align: left;
}

@media all and (max-width: 800px) {
    #quote {
        font-size: large;
        width: 40%;
        left: 50%;
        bottom: 60%;
    }
  }
  